#tw-extension {
  width: 300px;
}

#tw-extension .active {
  color: #c63e25;
}

#tw-extension #playback.active {
  color: #008256;
}

#tw-extension .form-row {
  display: grid;
  align-items: center;
  width: 100%;
  grid-template-columns: 3fr 1fr;
  grid-gap: 5px;
}

#tw-extension .form-row + .form-row {
  margin-top: 5px;
}

#tw-extension .checkbox {
  display: flex;
  align-items: center;
}

#tw-extension .checkbox input {
  margin: 0 4px 0 0;
}

#tw-extension select {
  width: 100%;
}

#tw-extension #version {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
